* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  background-color: #0f0f1d;
  color: white;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 5px;
  margin: 8px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > a {
  margin: 20px;
}

nav > a.active {
  color: orange;
  font-weight: bold;
}
nav > a:hover {
  opacity: 0.5;
}

